.dark {
  background-color: #121212;
  color: #f5f5f5;
}
 
 /* dark mode button */
.DarkMode {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
 
.DarkMode:hover {
  background-color: #444;
}